@inherits LayoutComponentBase

<div class="d-flex" style="min-height: 100vh;">
    <NavMenu />
    <div class="flex-grow-1">
        <TopBar />
        <main class="p-4">
            <CascadingAuthenticationState>
                @Body
            </CascadingAuthenticationState>
        </main>
    </div>
</div>

@code {
}
